* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(151, 196, 235);
}

.main-content {
    height: 100vh;
    width: 100%;
}

.card-body {
    background-color: #FFFAFA;
}

input[type="number"]:focus {
    box-shadow: none;
    outline: none;
    /* border: #ced4da; */
}

.from {
    margin: 20px;
    font-weight: 500;
}

.to {
    margin: 20px;
    font-weight: 500;
}

.exchange {
    margin: 10px;
}